.top-rated-books-container {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  max-width: 1110px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 0px 1px #28293d, opx 1px 2px #606170;
  margin-top: 24px;
  margin-bottom: 100px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .top-rated-books-container {
    padding-top: 12px;
    margin-bottom: 100px;
  }
}

.top-rated-books-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82%;
  margin: auto;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .top-rated-books-header-container {
    width: 83%;
    margin-bottom: 15px;
  }
}

.top-rated-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1e293b;
}
@media screen and (min-width: 768px) {
  .top-rated-heading {
    font-size: 24px;
    line-height: 32px;
  }
}

.find-books-desktop-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 104px;
  height: 36px;
  background: #0284c7;
  border-radius: 4px;
  color: #f8fafc;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 16px;
  font-size: 12px;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .find-books-desktop-btn {
    display: none;
  }
}

.slick-container {
  width: 85%;
  max-width: 1100px;
  margin-top: 10px;
  margin: auto;
}

.slider-nav-link {
  text-decoration: none;
}

.book-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #334155;
}

@media screen and (min-width: 768px) {
  .book-title {
    font-size: 24px;
    line-height: 32px;
  }
}

.book-author {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #64748b;
}
@media screen and (min-width: 768px) {
  .book-author {
    font-size: 14px;
    line-height: 16px;
  }
}

.cover-pic {
  height: 50%;
  width: 90%;
  border-radius: 4px;
  margin-top: 10px;
  margin: 0px 10px;
  transition: 0.5s all ease-in-out;
}

@media screen and (min-width: 768px) {
  .cover-pic {
    height: 50%;
    width: 90%;
  }
}
.cover-pic:hover {
  transform: scale(1.05);
}

.slick-prev:before {
  color: #e0af0d;
}
.slick-next:before {
  color: blueviolet;
}

.top-rated-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

.top-rated-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-rated-failure-image {
  width: 250px;
  height: 120px;
}
@media screen and (min-width: 768px) {
  .top-rated-failure-image {
    width: 350px;
    height: 170px;
  }
}

.top-rated-failure-description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #475569;
  font-size: 12px;
  line-height: 16px;
}

@media screen and (min-width: 768px) {
  .top-rated-failure-description {
    font-size: 16px;
    line-height: 24px;
  }
}

.try-again-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  width: 75px;
  height: 32px;
  background: #0284c7;
  border-radius: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .try-again-btn {
    padding: 12px 24px;
  }
}
/* dark theme */

.top-rated-books-container-dark-theme {
  background-color: #272727;
}

.top-rated-heading-dark-theme {
  color: #ffffff;
}

.book-title-dark-theme {
  color: #ffffff;
}

.book-author-dark-theme {
  color: #ffffff;
}

.top-rated-failure-dark-theme-description {
  color: #d3d3d3;
}
